<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
    </system.webServer>
    <system.web>
        <globalization culture="es-CR" enableClientBasedCulture="true" uiCulture="es-CR" />
    </system.web>
</configuration>
