<div class="content_home">
	<h1 id="title_home">Bienvenidos al Sistema de Información Electoral</h1>
	<p class="fsm text-left color-secondary"><strong>Módulo:</strong> TRASLADO ELECTORAL PARA VOTO EN EL EXTRANJERO</p>
	<p class="fss color-secondary lead_home">Este módulo trata el proceso de ...</p>
	<h3 id="title_h3_home">Caracteristicas principales:</h3>
	<div class="img_c_home mbl">
		<div class="text-center img_l_home"><div class="img_home"><img src="static/img/inicio_1.png" /></div></div>
		<div class="text-left img_r_home color-secondary fss">
			<h4>Menú principal</h4>
			<p class="color-secondary">El menú principal tiene como finalidad orientar al usuario y ofrecerle la mayor comodidad para ubicar cada una de las diferentes funcionalidades del sistema.</p>
		</div>
	</div>
	<div class="img_c_home dr">
		<div class="text-center img_l_home"><div class="img_home"><img src="static/img/inicio_2.png" /></div></div>
		<div class="text-left img_r_home color-secondary fss">
			<h4>Menú lateral</h4>
			<p class="color-secondary">Luego de elegir la sección del menú principal, usted ingresará y tendrá las opciones de menú lateral de esa sección.</p>
			<p class="color-secondary">El menú lateral contiene las opciones internas del menú principal, estas están distribuidas y agrupadas de manera vertical.</p>
			<p class="color-secondary">Las opciones del menú lateral que tienen sub opciones, tienen la posibilidad de poder desplegarse para ingresar a estas sub opciones.</p>
		</div>
	</div>
	<div class="img_c_home mbm">
		<div class="text-center img_l_home"><div class="img_home"><img src="static/img/inicio_3.png" /></div></div>
		<div class="text-left img_r_home color-secondary fss">
			<h4>Cuerpo</h4>
			<p class="color-secondary">El cuerpo del sistema es aquel que nos brinda en su contenido la información que nos interesa según la opción que seleccionemos, por tanto, el cuerpo cambiará cada vez que se elija una sección de la cabecera y según la opción un menú lateral.</p>
			
		</div>
	</div>
	
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').addClass('home_page');
        $('#navegacion-principal>ul>li').removeClass('activo');
    });
</script>